.input-my-data-row{
    background-color: inherit;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}


/* .custom-block  {
    display: flex;
    padding: 2;
    flex-direction: column;
    border-radius: 5px 5px 20px 5px;
    background: var(--gray-1001, #E9ECEC);
    margin-bottom: 20px;
}
.titleStyle {
    color: var(--blue-100, #0A3D58);
    text-align: center;
    padding: 10px;

    font-family: Montserrat Alternates;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}
.infoStyle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
   
}
.infoElementStyle{
    padding-left: 10px;
     color: var(--brown-100, #471915);
    text-align: center;

    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    padding: 5px;
}
.button_style{
    margin-top: 10px;
    border-radius: 26px;
    border: 1px solid var(--blue-100, #0A3D58);
}
.button_text_style{
    color: var(--blue-100, #0A3D58);
    text-align: center;
    padding: 2px;

    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
} */
