.admin-body {
    display: flex;
}

.left-menu {
    height: 872px;
    padding: 12px 10px 123px 42px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    gap: 10px;
    background: rgba(246, 246, 246, 1);

}

.menu-item-user {
    height: 60px;
    margin-top: 65px;
    border-radius: 0px 11px 0px 0px;
    background: rgba(10, 61, 88, 1);
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    margin-left: -55px;
    z-index: 2;

}

.menu-img-icon {
    background-color: bisque;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    margin-left: 60px;
    margin-top: 10px;
    margin-right: 20px;
    position: absolute;
}

.menu-labels {
    width: 55px;
    text-align: left;
    margin-left: 140px;
}

.menu-email {
    width: 141px;
    height: 18px;
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(246, 246, 246, 1);
    animation-timing-function: ease-out;
    animation-duration: 10ms;


}

.menu-name {
    width: 108px;
    height: 23px;
    font-family: 'Montserrat Alternates';
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(246, 246, 246, 1);
    animation-timing-function: ease-out;
    animation-duration: 10ms;
    margin-top: 10px;

}

/*-------------------------------------*/


.menu-arrow-icon {
    padding-top: 15px;
    background: rgba(10, 61, 88, 1);
    cursor: pointer;
    z-index: 2;
    width: 35px;
    border-radius: 0px 11px 0px 0px;
}

/*------------------------------------------*/

.body-by-item {
    height: 872px;
    top: 15px;
    left: 24px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    background: rgba(233, 236, 236, 1);
    position: absolute;
    padding: 30px;
    z-index: 1;

}

.menu-item-main {
    height: 60px;
    display: flex;
    text-align: center;
    padding-top: 13px;

}

.left-menu-items {
    padding-left: 16px;
    height: 450px;
    margin-left: -7px;
}

li {
    list-style-type: none;
    cursor: pointer;
}


.main-logo {
    font-size: 16px;
    height: 75px;
    width: 250px;
    padding: 10px;
    padding-left: 50px;
    position: absolute;
}

.header_top a {
    color: bisque;
}