.new-description-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.new-description-container>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.new-description-container>div>input {
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #3B6479;
    text-wrap: nowrap;
    
    
    border: none;
    background-color: inherit;
    border-radius: 10px;
    width: 85%;
    padding-left: 10px;
}

.new-description-about-input {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: #F6F6F6;
    border: none;
    padding-left: 10px;
}


.new-description-container>div>button {
    align-self: center;
    display: flex;
    margin-left: 30%;
    cursor: pointer;
    padding: 12px;
    margin-bottom: 5px;
    background: url(/src/svg/shared-icons/BlueCloseCrossIcon.svg) no-repeat;
    border: none;
}