.md-container1{
    width: 100%;
    height: fit-content;
    padding: 20px;
}

.md-container2{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.md-product-image{
    width: 146px;
    height: 140px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.08);
    object-fit:contain;
    margin-right: 20px;
}

.md-container3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
