.change-error-message {
  color: red;
  margin-top: 5px;
  font-size: 12px;
  line-height: 14px;
}

.change-error-email {
  height: 35px;
  font-size: 12px;
  text-align: left;
}

.oneplace-icon {

  margin-top: -12%;
  margin-left: 77%;
}

.hello-icon {
  margin-top: -13%;
  margin-left: 57%;
}

.admin-left-forgot {
  text-align: center;
  margin-top: 25px;
}

.admin-forgot {
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(10, 61, 88, 1);
  text-decoration: none;
}