.admin-template {
    padding: 15px;
    height: fit-content;
    background: rgba(10, 61, 88, 1);
}

.admin-login-container {
    height: 100%;
    width: 100%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-error-message {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    color: red;
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

.login-admin-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.login-admin-form>span {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-form {
    font-family: 'Montserrat Alternates';
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    color: rgba(71, 25, 21, 1);
}

.input-admin-login {
    width: 340px;
    height: 46px;
    border-radius: 12px;
    border: none;
    background-color: rgba(225, 227, 227, 1);
    padding: 10px;
    font-family: 'Montserrat Alternates';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    color: rgba(71, 25, 21, 1);
}


.confirm-button {
    width: 90%;
    height: 50px;
    border-radius: 26px;
    gap: 10px;
    background: rgba(218, 141, 51, 1);
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
    border: none;
}