.edit-product-main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.top-edit-product-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.edit-product-left-side-container-1 {
    width: 50%;
    height: fit-content;
    padding-left: 5%;

    padding-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.product-edit-category {
    color: #0A3D58;
    font-family: 'Montserrat Alternates';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 23.4px */
    width: 424px;
    height: 50px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 0;
    padding-left: 10px;
}

.edit-product-name-container>label {
    width: 100%;
    color: #0A3D58;
    font-size: 18px;
    font-family: Montserrat Alternates;
    font-weight: 400;
    line-height: 23.40px;
    word-wrap: break-word
}

.edit-product-right-side-container-1 {
    width: 50%;
    height: fit-content;

    padding-right: 5%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.color-price-edit-product-container {
    width: 100%;
    padding-left: 5%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.add-color-price-product-btn-container {}

.discout-code-edit-product-container {
    width: 100%;
    padding-left: 5%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 29px;
}

.edit-product-number-container {
    display: flex;
    flex-direction: column;
}

.edit-product-number-input-container {
    display: flex;
    flex-direction: column;
}

.edit-product-number-input-container>label {
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: red;
}

.edit-product-recommend-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.edit-product-recommend-container>input {
    width: 24px;
    height: 24px;
    padding: 10px;
    border-radius: 2px;
    border: 1px;
    gap: 10px;
    border: 1px solid #6C8B9B
}

.edit-product-recommend-container>label {

    text-align: center;

    font-family: 'Montserrat Alternates';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #0A3D58;
}

.edit-product-left-side-container-4 {
    width: 50%;
    padding-left: 5%;
}

.edit-product-main-image {
    width: 424px;
    height: 295px;
    border: none;
    border-radius: 10px;
    object-fit: contain;
}

.edit-product-add-picture-btn {
    position: absolute;
    display: flex;
    width: 200px;
    height: 36px;
    margin: 0px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    border-radius: 10px 0px;
    background: #0A3D58;

    color: #F6F6F6;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.edit-product-right-side-container-5 {
    width: 50%;
    height: fit-content;

    padding-right: 5%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.edit-product-description-container {
    display: flex;
    flex-direction: column;
}

.edit-product-add-characteristic-btn{
    display: flex;
    width: 424px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 10px 0px;
    background: #DA8D33;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}