.item-product-main-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item-product-row-1 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 50%;
}

.dropdown-list-product-sale-filter {
    position: absolute;
    background-color: rgba(246, 246, 246, 1);
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    width: 12%;
    margin-left: -4%;
    border-radius: 10px 0px 10px 10px;
}

.dropdown-item-product-sale-filter {
    padding: 9px;
    width: 80%;
    color: rgba(10, 61, 88, 1);
    font-family: 'Montserrat Alternates';
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    border-top: 1px solid #ccc;
    margin-left: 10px;
}

.dropdown-item-product-sale-filter:hover {

    font-size: 15px;
    color: rgba(10, 61, 88, 1);
    cursor: pointer;
}

.item-product-sale-select-filter>option {
    background-color: #E9ECEC;
    color: #0A3D58;
    cursor: pointer;
}

.item-product-row-2{
    margin-left: 1%;
}

.item-products-table-head {
    display: grid;
    margin-left: 70px;
    grid-template-columns: 25% 10% 11% 15% 11% 10%;
    column-gap: 1%;
    margin-bottom: 14px;
}

.item-products-table-head>label {
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #0A3D58;
}