div.background{
    background: var(--gray1) url('./art.png') right center / contain no-repeat;
    background-position: 80%;
    background-size: 30% auto;
    width: 100%;
    height: fit-content;
}

.text1{
    padding-bottom: 2%;
}

.text2{
    padding-bottom: 2%;
}

div.content{
    padding-left: 6%;
    padding-top: 9%;
    padding-bottom: 9%;
}

