
.review-div{
    margin-top: 50px;
    width: 480px;
    height: 250px;
    display: block;

}
.review-body
{
    margin: 10px;
    width: 424px;
    height: 230px;
    border-radius: 10px;
    background: rgba(246, 246, 246, 1);
    overflow-y: scroll;

}
.review-label
{
    display: flex;

}
.review-label label
{
    width: 75px;
    height: 23px;
    top: 555px;
    left: 396px;
    font-family: 'Montserrat Alternates';
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(10, 61, 88, 1);
    padding-right: 12px;

}
.review-count
{
    cursor: pointer;
}
.review-row
{
    display: block;

}
.review-img
{
    height: 35px;
    width: 35px;
    border-radius: 6px;

}
.review-title
{
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(108, 71, 68, 1);
    margin: 8px;


}
.review-header{
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;

}
.review-bottom-line
{
    border-bottom: 1px solid;
    margin: 20px;
}
.review-review
{
    background-color: bisque;
    width: 386px;
    height: 54px;
    top: 126px;
    left: 20px;
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(108, 71, 68, 1);

}
.review-date
{
    width: 280px;
    height: 18px;
    top: 198px;
    left: 18px;
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(71, 25, 21, 1);



}

