.subcategory-unit-container {
    height: fit-content;
    width: 872px;
    border-radius: 10px;
    background-color: #E1E3E3;
    margin-bottom: 6px;
}

.subcategory-unit-heder-container {
    height: 59px;
    width: 872px;
    padding: 8px 18px 8px 18px;
    gap: 70%;
    display: flex;
    cursor: pointer;
}

.subcategory-unit-subcategories-container {
    width: 872px;
    height: 24px;
    background-color: #F6F6F6;
    border-radius: 0px 0px 10px 10px;
 
    
}

.show-subcategories-arrow{
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-subcategories-arrow{
    cursor: pointer;
    background-color: orange;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcategory-body-container{
    width: 872px;

    height: fit-content;
    background-color: #F6F6F6;
    border-radius: 0px 0px 10px 10px;

    position: relative;
}