.menu-item-main
{
    height: 60px;
    display: flex;
    text-align:center;
    padding-top: 13px;
    
}

.link:hover
{
    color: rgba(218, 141, 51, 1);
}

.link
{
    cursor: pointer;
    padding: 5px;
    margin-right: 10px;
    transition: color 0.3s ease;
    text-decoration: none;
    color: #000;
}
.selected {
    width: 87px;
    height: 26px;
    font-family: 'Montserrat Alternates';
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(10, 61, 88, 1);

}
.item-main{
    margin-right: 15px;

}

.left-menu-items
{
    padding-left: 0px;
    height: 450px;
    margin-left: -7px;
    background-color: antiquewhite;
}

li {
    list-style-type: none;
    cursor: pointer;
}