.star-rating {
    display: flex;
    width: 50px;
}
  
.star {
    font-size: 24px;
    margin-right: 5px; /* Space between stars */
}
  
.star-label {
    display: flex
}

.stars-input
{
    display: none;
}