 .register-body {
     position: fixed;
     border-radius: 10px;
     background: rgba(246, 246, 246, 1);
     box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.08);
     z-index: 1;
     overflow-y: auto;
 }

 .close-register-form {
     background-color: transparent;
     border: none;
     cursor: pointer;
     width: 27px;
     height: 27px;
     margin-left: 80%;
 }

 .error-register {
     width: 100%;
     height: 35px;
 }

 @media screen and (max-width: 1400px) {
     .close-register-form {
         margin-left: 75%;
     }

     .enter-button {
         width: 100% !important;
     }
 }

 @media screen and (max-width: 1150px) {
     .close-register-form {
         margin-left: 60%;
     }

     .error-register {
         display: none;
     }
 }

 @media screen and (max-width: 1003px) {
     .google-facebook-button {
         border: none !important;
         padding-right: '0' !important;
         padding-left: '0' !important;
     }
 }

 @media screen and (max-width: 900px) {
     .close-register-form {
         margin-left: 55%;
     }

     .enter-button {
         width: 100% !important;
     }

     .register-body {
         position: absolute !important;
         top: 0;
     }

 }

 @media screen and (max-width: 700px) {
     .close-register-form {
         margin-left: 40%;
     }

     .register-body {
         position: absolute !important;
         top: 0;
     }
 }

 .register-user-text-input {
     height: 46px;
     width: 100%;
     border-radius: 12px;
     border: none;
     background-color: rgba(225, 227, 227, 1);
     padding: 10px;

     font-family: 'Montserrat Alternates';
     font-size: 18px;
     font-weight: 400;
     line-height: 25px;
     letter-spacing: 0em;
     color: rgba(71, 25, 21, 1);
 }




 .error-message {
     margin-top: 5px;
     margin-left: 3%;
     color: var(--red);
     font-family: 'Montserrat Alternates';
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 130%;
 }

 .success-message {
     margin-top: 5px;
     margin-left: 3%;

     color: var(--green);
     font-family: 'Montserrat Alternates';
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 130%;
 }