.custom-radio {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    border: 1px solid #9DB1BC;
}

.custom-radio-checkmark {
    position: absolute;
    display: none;
}

.custom-radio input:checked+.custom-radio-checkmark {
    display: block;
    margin-top: -21%;
}

.custom-radio input[type="radio"] {
    display: none;
}

.bg-img {
    background-image: url(/src/svg/arrows/BrownSmallToBottomArrowIcon.svg);
}

.custom-checkbox-1 {
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid var(--brown3);
}

.custom-checkbox-checkmark-1 {
    position: absolute;
    display: none;
}

.custom-checkbox-1 input:checked+.custom-checkbox-checkmark-1 {
    display: block;
    margin-top: -10%;
}

.custom-checkbox-1 input[type="checkbox"] {
    display: none;
}

.custom-checkbox-2 {
    position: relative;
    width: 19px;
    height: 19px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    border: 2px solid var(--brown3);
}

.custom-checkbox-2 input:checked+.custom-checkbox-checkmark-1 {
    display: block;
    margin-top: -25%;
}

.custom-checkbox-2 input[type="checkbox"] {
    display: none;
}