.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
}

.no-eye-icon-password{
    background-image: url(/src/modules/admin/svg/loginIcons/NotEyeIcon.svg);
}

.eye-icon-password{
    background-image: url(/src/modules/admin/svg/loginIcons/EyeIcon.svg);
}