#scrollbar-style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 8px;
}

#scrollbar-style-1::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;

}

#scrollbar-style-1::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.14, rgb(137, 155, 193)),
            color-stop(0.72, rgb(63, 95, 124)),
            color-stop(0.86, rgb(23, 48, 76)));
    height: 50px;
}

.order-label {
    font-family: 'Montserrat Alternates';
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(10, 61, 88, 1);
}

.order-block {
    width: 100%;
    height: 95%;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 5% 90%;
    gap: 4%;
    
}

.order-div-header {
    font-family: 'Montserrat Alternates';
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(10, 61, 88, 1);
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 5%;
    height: fit-content;

}

.order-div-list {
    height: 100%;
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(10, 61, 88, 1);
    overflow-y: scroll;
    scrollbar-width: thin;
}

.order-div-row {
    height: 30px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 5%;
    align-items: center;
    border-bottom: 2px solid rgba(105, 104, 104, 0.3);
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(108, 71, 68, 1);
    cursor: pointer;
}

.order-div-row>label {
    height: 20px;
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #6C4744;
    cursor: pointer;
    word-break: break-all;
    overflow: hidden;
}

.order-div-row:hover {
    background: #f5f5f5;
}

/*UserReview----------------------------------------------------------------*/


.review-div {
    width: 41%;
    height: 100%;
}

.review-body {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background: rgba(246, 246, 246, 1);
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.code-dropdown-item {
    margin: 8px;
}

.review-label {
    display: flex;
}

.review-label label {
    width: 75px;
    height: 23px;
    font-family: 'Montserrat Alternates';
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(10, 61, 88, 1);
    padding-right: 12px;
}

.review-row {
    display: grid;
    grid-template-rows: 35% 20% 40%;
}

.review-header {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 65% 20%;
    gap: 20px;

    padding: 10px;
    margin-bottom: 15px;

    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(108, 71, 68, 1);
}

.review-header>label {
    height: 45%;
    word-break: break-all;
    overflow: hidden;
}

.review-img {
    height: 44px;
    width: 44px;
    border-radius: 6px;
    border-bottom: 2px solid rgba(105, 104, 104, 0.3);
}

.review-title {
    font-family: 'Montserrat Alternates';
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #0A3D58;
    margin-bottom: 5px;
    margin-top: 15px;
}

.review-review {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;

    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(108, 71, 68, 1);
    overflow-y: auto;
    scrollbar-width: thin;

    background-color: rgb(237, 232, 226);
}

.review-info-time {
    display: flex;
    flex-direction: row;
    gap: 75%;
}

.review-date {
    width: 50%;
    height: 18px;
    font-family: 'Montserrat Alternates';
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(71, 25, 21, 1);
}