.pi-container1{
    background-color: var(--gray1);
    width: 100%;
    padding-top: 3%;
}

.pi-categories-container{
    padding-left: 6%;
    padding-right: 6%;
}

.pi-arrow-container{
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    align-items: center;
}

.pi-menu-container{
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
}

.pi-divider-container{
    padding-left: 2%;
    padding-right: 2%;
}

.pi-info-container{
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
}