:root {
  --blue1: #0A3D58;
  --blue2: #3B6479;
  --blue3: #6C8B9B;
  --blue4: #9DB1BC;
  --blue5: #CED8DE;
  --blue6: #DCE1E3;
  --brown1: #471915;
  --brown2: #6C4744;
  --brown3: #917573;
  --brown4: #B5A3A1;
  --brown5: #DAD1D0;
  --orange1: #D17100;
  --orange2: #DA8D33;
  --orange3: #E3AA66;
  --orange4: #EDC699;
  --orange5: #F6E3CC;
  --purple1: #C4A8D3;
  --purple2: #CBB6D8;
  --purple3: #DCCBE5;
  --purple4: #E7DCED;
  --purple5: #F3EEF6;
  --gray1: #E9ECEC;
  --gray2: #E1E3E3;
  --gray3: #F6F6F6;
  --red: #B31D21;
  --green: #3FB914;
  --white: #FFFFFF;
}

h1 {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

h2 {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

h3 {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

h4 {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

h4.blue {
  color: var(--blue1);
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.h4-blue {
  color: var(--blue1);
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

h4.brown2 {
  color: var(--brown2);
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

h4.red {
  color: var(--red);
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}


h5.light {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

h5.bold {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.h5-bold-red {
  color: var(--red);
  font-family: 'Montserrat Alternates';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

h5.bold-white {
  color: var(--white);
  font-family: 'Montserrat Alternates';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

h4.blue {
  color: var(--blue1);
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

h4.orange {
  color: var(--orange1);
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

h5.light {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

h5.light-blue {
  color: var(--blue1);
  font-family: 'Montserrat Alternates';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

h5.bold {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

h5.bold-blue {
  color: var(--blue1);
  font-family: 'Montserrat Alternates';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

h5.bold-brown2 {
  color: var(--brown2);
  font-family: 'Montserrat Alternates';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.h5-bold-brown2 {
  color: var(--brown2);
  font-family: 'Montserrat Alternates';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

h5.bold-orange {
  color: var(--orange1);
  font-family: 'Montserrat Alternates';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.t1-light {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
}

.t1-bold {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.t1-bold-red {
  color: var(--red);
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.t1-bold-blue {
  color: var(--blue1);
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.t1-bold-brown2 {
  color: var(--brown2);
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.t1-bold-green {
  color: var(--green);
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.t1-bold-orange1 {
  color: var(--orange1);
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.t2-light {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
}

.t2-medium-500 {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.t2-medium {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.t2-medium-white {
  color: var(--white);
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.t2-medium-orange {
  color: var(--orange1);
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.t2-medium-brown2 {
  color: var(--brown2);
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.t2-medium-brown3 {
  color: var(--brown3);
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.t2-medium-green {
  color: var(--green);
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.t2-medium-blue {
  color: var(--blue1);
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.t2-medium-red {
  color: var(--red);
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.t2-medium-blue3 {
  color: var(--blue3);
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.t2-bold {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.t3-light {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
}

.t3-bold {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.green-400-12 {
  color: var(--green);
  font-family: 'Montserrat Alternates';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.red-400-12 {
  color: var(--red);
  font-family: 'Montserrat Alternates';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* ------------------------------------------- */


.h2-md-brown2 {
  color: var(--brown2);
  font-family: 'Montserrat Alternates';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.h5-bold-brown2 {
  color: var(--brown2);
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.h4-lg-gray3 {
  color: var(--gray3);
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.h4-red {
  color: var(--red);
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.t2-medium-500-red {
  color: var(--red);
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.t2-medium-500-brown2 {
  color: var(--brown2);
  font-family: 'Montserrat Alternates';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.t2-medium-500-orange2 {
  color: var(--orange2);
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.light-h5 {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.light-h5-brown2 {
  color: var(--brown2);
  font-family: 'Montserrat Alternates';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.brown1-400-20 {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.blue-500-26 {
  color: var(--blue1);
  font-family: 'Montserrat Alternates';
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.h2-500-32-brown1 {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.t2-medium-orange1 {
  color: var(--orange1);
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.brown1-500-32 {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.brown1-500-20 {
  color: var(--brown1);
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.gray3-500-16 {
  color: var(--gray3);
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.brown2-500-20 {
  color: var(--brown2);
  font-family: 'Montserrat Alternates';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}